


<div class="row">
  <div class="col-12 col-lg-8">
       <% if user_signed_in? && current_user.admin? %>    
             <%= link_to "Create new Post", new_post_path, :class => 'btn btn-2' %> 
             <% end %>

<% @posts.each do |post| %>
 
<div class="post-title">
<h2><%= link_to post.title, post_path(post), class: 'main-link' %></h2>
</div>
 <ul class="nav nav-pills">  
  <li><%= link_to "Comments", post %> <span class="badge"><%= post.comments.count %></span></li>
  <li style="float:right; padding-right:15px;"><%= time_ago_in_words(post.created_at) + " ago" %></li>
 </ul>
<div class="post">
  <p><%= post.content.gsub(/\n/, '<br/>').html_safe %></p>

   <span class="admin">
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  <div class="likebox">
    <%= link_to "Comment", post_path(post), :class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>






</div>


  <!-- Side Column content
                



     !-->


   <div class="col-12 col-lg-4">
     <div class="side-column">

      <div class="widget-title">
        <h3>Like Fergie on Facebook</h3></div>
        
        </div>

           <!-- Lastest Posts 




     !-->

        <div class="side-column">
        <div class="widget-title">
        <h3>Latest Posts</h3></div>
         <% @posts.each do |post| %>
         <ul>
          <li>
        <%= link_to post.title, post, class: 'side-column-link' %><small> <%= time_ago_in_words(post.created_at) + " ago" %></small></li>
      </ul>
        <% end %>
     </div>
     

     <!-- Lastest Users



     !-->

     <div class="side-column">
     <div class="widget-title">
        <h3>Latest Users</h3></div>
         <% @users.each do |user| %>
         <ul>
          <li>
        <%= link_to user.profile_name, "#", class: 'side-column-link' %><small> <%= time_ago_in_words(user.created_at) + " ago" %></small></li>
      </ul>
        <% end %>
     </div>

     <div class="side-column">
     <div class="widget-title">
        <h3>Man Utd Tags</h3>
      </div>
         
         <ul>
          <li><a class="side-column-link">Champions League</a></li>
          <li><a class="side-column-link">Moyes</a></li>
          <li><a class="side-column-link">Rooney</a></li>
          <li><a class="side-column-link">Evra</a></li>
      </ul>
       
     </div>
</div>
</div>
