<p id="notice"><%= notice %></p>



<p>
  
 <h1><%= @post.title + "  " %><small>By <%= " " + @post.user.profile_name %></h1>
</p>
</br>
<p>
 
  <%= @post.content.gsub(/\n/, '<br/>').html_safe %>
</p>

<h3>Comments</h3>
<ul class="media-list">
<% if @post.comments.exists? %>
<% @post.comments.each do |comment| %>
    <div class="media-body">
    <img class="media-object">
	<h4 class="media-heading"><%= comment.user.profile_name %></h4>

	<p><%= comment.body %></p>
	<% end %>
<% end %>
</div>
</ul>


<div class="Comments-box"></br>
<%= simple_form_for([@post, @post.comments.build]) do |f| %>
<h1>Make a Comment...</h1>
<%= f.input :body %>
<div class="form-actions">
    <%= f.button :submit, class: "btn" %>
  </div>
</div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
